<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Realm DAO (CRUD operations + database migration + multithreading handling)</string>
	<key>Summary</key>
	<string>Realm Database Manager(DAO)</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>RealmDAO</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>static</string>
			<key>Description</key>
			<string>and run &apos;pod install&apos;</string>
			<key>Name</key>
			<string>and run &apos;pod install&apos;</string>
			<key>Identifier</key>
			<string>podfile_update_required2</string>
			<key>Required</key>
			<false/>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>static</string>
			<key>Description</key>
			<string>Add  pod &apos;RealmSwift&apos;, &apos;~&gt; 10.5.1&apos;  to your Podfile</string>
			<key>Name</key>
			<string>Add  pod &apos;RealmSwift&apos;, &apos;~&gt; 10.5.1&apos; to your Podfile</string>
			<key>Identifier</key>
			<string>podfile_update_required1</string>
			<key>Required</key>
			<false/>
		</dict>
		<dict>
			<key>Default</key>
			<string>RealmDAO</string>
			<key>SortOrder</key>
			<integer>0</integer>
			<key>Identifier</key>
			<string>optionName</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Realm DAO Class Name</string>
			<key>Description</key>
			<string>DAO class name</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
