<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.serglam.baseViperApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.serglam.baseEmptyApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for Viper-Coordianator-Configurator base Application.</string>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<string>platform :ios, &apos;11.0&apos;

use_frameworks!
inhibit_all_warnings!

def all_pods
# Networking
pod &apos;Moya&apos;, &apos;~> 13.0.1&apos;
pod &apos;ReachabilitySwift&apos;, &apos;~> 4.3.1&apos;
pod &apos;Kingfisher&apos;, &apos;~> 5.9.0&apos;

# UI  
pod &apos;JGProgressHUD&apos;, &apos;~> 2.0.4&apos;
pod &apos;SnapKit&apos;, &apos;~> 5.0.1&apos;
pod &apos;IQKeyboardManagerSwift&apos;, &apos;~> 6.5.0&apos;

# Firebase
pod &apos;Firebase&apos;
pod &apos;Firebase/Analytics&apos;
pod &apos;Firebase/Crashlytics&apos;

# Facebook
pod &apos;FacebookCore&apos;, &apos;~> 0.9.0&apos;
pod &apos;FacebookLogin&apos;, &apos;~> 0.9.0&apos;
pod &apos;FacebookShare&apos;, &apos;~> 0.9.0&apos;

# Google
pod &apos;GoogleSignIn&apos;

# Error loggers
pod &apos;Crashlytics&apos;, &apos;~> 3.14.0&apos;
pod &apos;AppCenter&apos;, &apos;~> 2.5.1&apos;
pod &apos;BugfenderSDK&apos;, &apos;~> 1.7&apos;

# Code-style
pod &apos;SwiftLint&apos;, &apos;~> 0.38.2&apos;
  
# Resource-managment
pod &apos;R.swift&apos;, &apos;~> 5.0.3&apos;

end

target &apos;___PROJECTNAME___&apos; do
inhibit_all_warnings!
all_pods
end
		</string>
		<key>../InitialScript.command</key>
		<dict>
			<key>Path</key>
			<string>InitialScript.command</string>
		</dict>
		<key>./Application/ApplicationCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>./Application/ApplicationCoordinator.swift</string>
		</dict>
		<key>./Extensions/NSObjectExtensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>./Extensions/NSObjectExtensions.swift</string>
		</dict>
		<key>./Extensions/UIViewControllerExtension.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>./Extensions/UIViewControllerExtension.swift</string>
		</dict>
		<key>./Factories/CoordinatorFactoryImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Factories</string>
			</array>
			<key>Path</key>
			<string>./Factories/CoordinatorFactoryImp.swift</string>
		</dict>
		<key>./Factories/Protocols/CoordinatorFactory.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Factories</string>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>./Factories/Protocols/CoordinatorFactory.swift</string>
		</dict>
		<key>./Parents/BaseCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Parents</string>
			</array>
			<key>Path</key>
			<string>./Parents/BaseCoordinator.swift</string>
		</dict>
		<key>./Parents/Viper+Coordinator/BaseConfigurator.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/BaseConfigurator.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/BaseViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/BaseViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/BasePresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/BasePresenter.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/BaseInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/BaseInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
			</array>
		</dict>
		<key>./Parents/Coordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Coordinator.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/Protocols/Configurator.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/Protocols/Configurator.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/Protocols/ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/Protocols/ViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/Protocols/Presenter.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/Protocols/Presenter.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>./Parents/Viper+Coordinator/Protocols/Interactor.swift</key>
		<dict>
			<key>Path</key>
			<string>./Parents/Viper+Coordinator/Protocols/Interactor.swift</string>
			<key>Group</key>
			<array>
				<string>Parents</string>
				<string>Viper+Coordinator</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>./Protocols/BaseView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>./Protocols/BaseView.swift</string>
		</dict>
		<key>./Protocols/Presentable.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>./Protocols/Presentable.swift</string>
		</dict>
		<key>./Protocols/ViewDataSourceProtocols.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>./Protocols/ViewDataSourceProtocols.swift</string>
		</dict>
		<key>./Router/Router.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>./Router/Router.swift</string>
		</dict>
		<key>./Router/RouterImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>./Router/RouterImp.swift</string>
		</dict>
		<key>./Flows/Main/Coordinator/MainCoordinatorImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Coordinator</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Coordinator/MainCoordinatorImp.swift</string>
		</dict>
		<key>./Flows/Main/Configurator/MainConfiguratorImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Configurator</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Configurator/MainConfiguratorImp.swift</string>
		</dict>
		<key>./Flows/Main/Protocols/MainProtocols.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Protocols/MainProtocols.swift</string>
		</dict>
		<key>./Flows/Main/Factories/MainConfiguratorFactoryImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Factories</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Factories/MainConfiguratorFactoryImp.swift</string>
		</dict>
		<key>./Flows/Main/View/MainViewControllerImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/View/MainViewControllerImp.swift</string>
		</dict>
		<key>./Flows/Main/Presenter/MainPresenterImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Presenter</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Presenter/MainPresenterImp.swift</string>
		</dict>
		<key>./Flows/Main/Interactor/MainInteractorImp.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Interactor</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Interactor/MainInteractorImp.swift</string>
		</dict>
		<key>./Flows/Main/View/MainViewControllerImp.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/View/MainViewControllerImp.storyboard</string>
		</dict>
		<key>./Flows/Main/Resources/MainViewController.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
				<string>Main</string>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>./Flows/Main/Resources/MainViewController.xcassets</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>../InitialScript.command</string>
		<string>./Application/ApplicationCoordinator.swift</string>
		<string>./Extensions/NSObjectExtensions.swift</string>
		<string>./Extensions/UIViewControllerExtension.swift</string>
		<string>./Factories/CoordinatorFactoryImp.swift</string>
		<string>./Factories/Protocols/CoordinatorFactory.swift</string>
		<string>./Parents/BaseCoordinator.swift</string>
		<string>./Parents/Viper+Coordinator/BaseConfigurator.swift</string>
		<string>./Parents/Viper+Coordinator/BaseViewController.swift</string>
		<string>./Parents/Viper+Coordinator/BasePresenter.swift</string>
		<string>./Parents/Viper+Coordinator/BaseInteractor.swift</string>
		<string>./Parents/Coordinator.swift</string>
		<string>./Parents/Viper+Coordinator/Protocols/Configurator.swift</string>
		<string>./Parents/Viper+Coordinator/Protocols/ViewController.swift</string>
		<string>./Parents/Viper+Coordinator/Protocols/Presenter.swift</string>
		<string>./Parents/Viper+Coordinator/Protocols/Interactor.swift</string>
		<string>./Protocols/Presentable.swift</string>
		<string>./Protocols/ViewDataSourceProtocols.swift</string>
		<string>./Protocols/BaseView.swift</string>
		<string>./Router/Router.swift</string>
		<string>./Router/RouterImp.swift</string>
		<string>./Flows/Main/Coordinator/MainCoordinatorImp.swift</string>
		<string>./Flows/Main/Configurator/MainConfiguratorImp.swift</string>
		<string>./Flows/Main/Protocols/MainProtocols.swift</string>
		<string>./Flows/Main/Factories/MainConfiguratorFactoryImp.swift</string>
		<string>./Flows/Main/View/MainViewControllerImp.swift</string>
		<string>./Flows/Main/Presenter/MainPresenterImp.swift</string>
		<string>./Flows/Main/Interactor/MainInteractorImp.swift</string>
		<string>./Flows/Main/View/MainViewControllerImp.storyboard</string>
		<string>./Flows/Main/Resources/MainViewController.xcassets</string>
	</array>
</dict>
</plist>
