<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Description</key>
	<string>Create new class to manage table view behaviour</string>
	<key>Summary</key>
	<string>Create new class to manage table view behaviour</string>
	<key>Options</key>
	<array>
		<dict>
			<key>SortOrder</key>
			<integer>0</integer>
			<key>Description</key>
			<string>The name of table view data sorce &amp; delegate</string>
			<key>Identifier</key>
			<string>tableControllerName</string>
			<key>Name</key>
			<string>TableControllerName:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Description</key>
			<string>The name of class / sctuct that will be user for cell data model</string>
			<key>Identifier</key>
			<string>tableViewCellDataModel</string>
			<key>Name</key>
			<string>Table View Cell Data Model:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>DefaultCompletionName</key>
	<string>TableController</string>
</dict>
</plist>
