<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Protocols for base instances of VIPER + Coordinator architecture</string>
	<key>Summary</key>
	<string>VIPER + Coordinator Protocols</string>
	<key>DefaultCompletionName</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array/>
</dict>
</plist>
